@import "../../vars.css";

.container {
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    background: linear-gradient(180deg, #96aacf 0%, #4b7cd5);
    box-shadow: 0 0px 10px 0 #76a5e7;
    padding: 18px 24px;
    max-width: 345px;
}

.image {
    margin-bottom: 26px;
    width: 300px;
    height: 250px;
    border-radius: 10px;
}

.title {
    font-size: 25px;
    font-weight: 700px;
}

.description {
    margin-top: 6px;
    font-size: 25px;
    font-weight: 400;
}

.skills {
    width: 100%;
    margin-top: 14px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 6px;
    list-style: none;
}

.skill {
    font-size: 15px;
    font-weight: 400;
    border-radius: 10px;
    background: var(--color-dark);
    padding: 10px 22px;
}

.links {
    width: 100%;
    margin-top: 26px;
    display: flex;
    justify-content: space-around;
}

.link {
    text-decoration: none;
    color: var(--color-text);
    font-size: 20px;
    font-weight: 600;
    border-radius: 10px;
    background: var(--color-primary);
    padding: 10px 22px;
    box-shadow: 0 0px 10px 0 #76a5e7;
    transition: 0.8s;
}

.link:hover {
    color: var(--color-primary);
    background: var(--color-text);
}