:root {
    --color-text: #fff;
    --color-primary: #070809;
    --color-secondary: #27292c;
    --color-dark: #0b2447;
    --color-bg: #141619;
    --color-hover: #414141;

    --font-roboto: "Roboto"
}